
@{
    ViewData["Title"] = "ProductList";
}

<h1>Product List</h1>

<table class="table table-dark ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Product p in ViewBag.List)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
            </tr>
        }
    </tbody>
</table>

